* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://thumbs.dreamstime.com/b/cute-black-cat-stares-suspicion-its-eyes-generated-ai-artificial-intelligence-304999104.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* https://img.freepik.com/premium-photo/ai-generated-intriguing-image-depicting-hacker-dark-room-sitting-computer_961443-782.jpg */
/* https://thumbs.dreamstime.com/b/cute-black-cat-stares-suspicion-its-eyes-generated-ai-artificial-intelligence-304999104.jpg */